* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --accent: #ff9a62;
  --white: #ffffff;
  --gray: #f8f8f8;
}

/* heropage */
.heropage {
  min-width: 100%;
  min-height: 100vh;
  background-image: url("./img/heroimg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background: transparent;
  height: 80px;
  width: 100%;
}

label.logo {
  color: var(--white);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgba(42, 40, 37, 0.31);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: var(--white);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 170px;
}

.title {
  font-size: 150px;
  font-weight: bolder;
}

.description {
  font-size: 29px;
}

.callout {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: 2px solid white;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer;
  transition:  0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.callout:hover {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: black;
  color: white;
}

.upanddown {
  animation-name: scrolldown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrolldown{
    0%, 
    100%{
        margin-top: 30px;
    }
    50%{
        margin-top: 40px;
    }
}
