@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

header{   
    background-color: #FCEEF1;
}

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-first{
    width: 525px;
}

.banner-img{
    width: 100%;
    vertical-align: bottom;
}

.banner-text{
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
}

.banner-first *{
    margin-bottom: 26px;
}


button{
    font-size: 20px;
    padding: 15px 28px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #fa6d8b;
}

/* Featured section */
.ft-first *{
    margin-bottom: 26px;
    text-align: center;
}

.ft-second{
    width: 75%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured{
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flower-img{
    width: 220px;
    height: 250px;
}

.flower>p{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.flower-one{
    background-color: rgb(244, 202, 211);
    padding: 75px 45px;
    border-radius: 50% 50% 0px 0px;
    -webkit-border-radius: 50% 50% 0px 0px;
    -moz-border-radius: 50% 50% 0px 0px;
    -ms-border-radius: 50% 50% 0px 0px;
    -o-border-radius: 50% 50% 0px 0px;
}

.flower-two{
    background-color: rgb(181, 223, 240);
    padding: 75px 45px;
    border-radius: 50% 50% 0px 0px;
    -webkit-border-radius: 50% 50% 0px 0px;
    -moz-border-radius: 50% 50% 0px 0px;
    -ms-border-radius: 50% 50% 0px 0px;
    -o-border-radius: 50% 50% 0px 0px;
}

.flower-three{
    background-color: rgb(186, 184, 184);
    padding: 75px 45px;
    border-radius: 50% 50% 0 0;
    -webkit-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
}

/* Delivery process */

.delivery-container{
    width: 75%;
    max-width: 1440px;
    overflow: hidden;
    background-color: #FCEEF1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 55px;
    padding: 56px 0px;
    margin: 66px auto;
}

.delivery, .fresh-flower, .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hot deal */